.login-btn {
  text-decoration: none;
  color: #ffffff;
  width: 20rem !important;
  padding-right: 7px;
  padding-left: 7px;
}

.signout-btn {
  text-decoration: none;
  color: #ffffff;
}

.navbar {
  background-color: #282730;
  color: #ebebeb;
  span {
    button:first-child {
      margin-right: 1rem;
    }
  }
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.add-btn-wrapper {
  margin-top: 2rem;
  margin-left: 2rem;
}

.content-wrapper {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 70%;
  height: 20%;
}

.new-btn {
  border-radius: 28px;
  padding-top: 4px;
  outline: none;
  padding-right: 25px;
  padding-bottom: 4px;
  background-color: #00b248;
  i {
    color: #4285f4;
    font-size: 36px;
    padding: 4px 20px 4px 0px;
  }
}

.add-content-wrapper {
  position: relative;
  margin-top: 1rem;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.new-menu {
  width: 30rem;
}

.folder-list {
  margin-top: 0px !important;
}

.mat-list-item-content {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.popup-cancel-btn {
  margin-right: 1rem !important;
}

mat-form-field {
  input {
    width: 10rem !important;
  }
}

.example-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
  height: 92.4%;
}

mat-sidenav {
  width: 17rem;
  background-color: #2b2a36 !important;
  color: #ebebeb;
}

.sidenav-list {
  margin-top: 5rem;
  margin-left: 0;
  padding: 0;
  font-size: 24px;
  list-style: none;
  li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    cursor: pointer;
    a {
      text-decoration: none;
      outline: none;
      color: #ebebeb;
    }
    &:hover {
      background-color: #282730;
    }
  }
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-cell {
  margin: auto;
  .mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
    vertical-align: middle;
  }
  .elem-name {
    vertical-align: middle;
  }
}

table {
  thead {
    tr {
      border-top: none !important;
      th {
        border-top: 0;
      }
    }
  }
  tbody {
    tr {
      cursor: default;
      td {
        i {
          color: #757575;
          cursor: pointer;
          font-size: 18px;
        }
      }
    }
  }
}

// .table-list-item:hover {
//   background-color: #f1f1f1;
//   cursor: pointer;
// }
