<div *ngIf="loggedIn">
  <!-- Navbar Starts -->
  <mat-toolbar class="navbar">
    <span>Website</span>
    <span>
      <button mat-raised-button (click)="sidenav.toggle()">Toggledrawer</button>
      <button mat-flat-button color="warn" (click)="onSignout()">Logout</button>
    </span>

  </mat-toolbar>
  <!-- Navbar Ends -->

  <mat-sidenav-container class="example-container" [hasBackdrop]="sidenavType.drop">
    <mat-sidenav #sidenav [mode]="sidenavType.mode" [fixedInViewport]=false>
      <ul class="sidenav-list">
        <li><a href="">Dashboard</a></li>
        <li>Search</li>
        <li>Contact</li>
        <li>About</li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Content Starts -->

      <!-- Add Button Starts -->
      <div class="add-btn-wrapper">
        <section class="mat-typography pb-2">
          <h1>A place to create your own Imagination</h1>
        </section>
        <button mat-raised-button class="new-btn" [matMenuTriggerFor]="menu"><i class="fas fa-plus"></i>New</button>
        <!-- Add Button Menu Starts -->
        <div class="add-content-wrapper">
          <mat-menu class="new-menu" #menu="matMenu">
            <button mat-menu-item (click)="openDialog()" style="padding-right: 10rem; outline: none;">
              <mat-icon mat-list-icon class="folder-list">create_new_folder
              </mat-icon>
              <span mat-line style="float: right;">Folder</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item style="outline: none;padding: 0;">
              <span mat-line><label for="file" class="upload-btn">
                  <mat-icon mat-list-icon>note</mat-icon>Upload
                </label><input (change)="onFileSelected($event)" type="file" id="file" name="file" class="inputfile">
              </span>
            </button>
          </mat-menu>
        </div>
        <!-- Add Button Menu Ends -->

        <!-- Add Button Menu Starts -->

      </div>

      <!-- Data Table Starts -->
      <div class="content-wrapper">
        <section class="mat-typography pb-2 pt-4">
          <h2>Your Data</h2>
        </section>

        <mat-spinner *ngIf="isLoading"></mat-spinner>

        <div *ngIf="!isLoading" class="card rounded-0 border-0 shadow-sm">
          <div class="card-body">
            <table *ngIf="!isLoading" class="table table-hover table-sm">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Date Created</th>
                  <th scope="col">Delete</th>
                  <th scope="col">Edit</th>
                </tr>
              </thead>
              <tbody>
                <!-- folders list -->
                <tr *ngFor="let folder of folders; let i=index">
                  <td>
                    <i class="material-icons mr-2 align-middle">folder</i>
                    <span class="align-middle">{{folder.name}}</span>
                  </td>
                  <td>{{folder.updated.seconds * 1000 | date}}</td>
                  <td><i class="fas fa-times ml-3" (click)="folderDelete(i)"></i></td>
                  <td><span class="edit-btn" (click)="editFolder(i)">Edit</span></td>
                </tr>
                <!-- uploading file -->
                <tr *ngIf="uploading==='uploading'">
                  <td>uploading file...</td>
                </tr>
                <!-- files list -->
                <tr *ngFor="let file of files; let i=index">
                  <td>
                    <i class="material-icons mr-2 align-middle">note</i>
                    <span class="align-middle">{{file.name}}</span>
                  </td>
                  <td>{{file.updated.seconds * 1000 | date}}</td>
                  <td><i class="fas fa-times ml-3" (click)="fileDelete(i)"></i></td>
                  <td><span class="edit-btn" (click)="editFolder(i)">Edit</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <!-- Data Table Ends -->

      <!-- Add Button Ends -->

      <!-- Content Ends -->
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>

<div class="loading" *ngIf="!loggedIn">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>