<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item active">
        <button type="button" (click)="onSignout()" class="btn btn-danger mr-2 ml-5">Signout<span class="sr-only">(current)</span></button>
      </li>
      <li class="nav-item active">
        <button type="button" class="btn btn-success mr-2 ml-2"><a class="login-btn" routerLink="/login">Login<span class="sr-only">(current)</span></a></button>
      </li>
    </ul>
  </div>
</nav> -->

<!-- Navbar Starts -->
<mat-toolbar class="navbar">
  <span>Website</span>
  <span><button mat-flat-button color="warn" (click)="onSignout()">Logout</button></span>
</mat-toolbar>
<!-- Navbar Ends -->

<!-- Content Starts -->

<!-- Add Button Starts -->
<div class="add-btn-wrapper">
  <section class="mat-typography pb-2">
    <h1>A place to create your own Imagination</h1>
  </section>
  <button mat-raised-button class="new-btn" [matMenuTriggerFor]="menu"><i class="fas fa-plus"></i>New</button>
  <!-- Add Button Menu Starts -->
  <div class="add-content-wrapper">
    <mat-menu class="new-menu" #menu="matMenu">
      <button mat-menu-item (click)="openDialog()" style="padding-right: 10rem; outline: none;">
        <mat-icon mat-list-icon class="folder-list">create_new_folder
        </mat-icon>
        <span mat-line style="float: right;">Folder</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="openDialog()" style="padding-right: 10rem; outline: none;">
        <mat-icon mat-list-icon>note
        </mat-icon>
        <span mat-line style="float: right;">Upload</span>
      </button>
    </mat-menu>
  </div>
  <!-- Add Button Menu Ends -->

  <!-- Add Button Menu Starts -->
</div>

<div class="content-wrapper">
  <section class="mat-typography pb-2 pt-4">
    <h2>Your Data</h2>
  </section>
  <mat-selection-list>
    <mat-list-option *ngFor="let folder of folders">
      <span (click)="folderClicked(folder)">{{folder}}</span>
    </mat-list-option>
  </mat-selection-list>
</div>

<!-- Add Button Ends -->

<!-- Content Ends -->